body{
    padding: 100px;
}

.class img{
    padding: 0 10%;
    font-family: 'Poppins', sans-serif;
}

.class{
    display: inline-block;
    padding: 20px 10px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    box-shadow: 5px 10px 18px 0.01px #c2c0c0;
    font-family: 'Poppins', sans-serif;
}

.class h1, span, p, h3, h4{
    font-size: 20px;
    padding: 0px 40px;
    font-family: 'Poppins', sans-serif;
}

.title h3{
    color: rgb(95, 188, 238);
    font-weight: 200;
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

.class h1, h4{
    color: rgb(70, 138, 179);
    font-weight: 250;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.class span{
    font-size: 15px;
    color: rgb(154, 153, 145);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}

.class p{
    font-size: 16px;
    color: rgb(154, 153, 145);
    font-family: 'Poppins', sans-serif;
    text-transform: capitalize;
}