.class1 i{
    font-size: 65px;
    color: rgb(96, 205, 224);
    margin: 0px 150px;
}

.class1{
    display: inline-block;
    margin: 150px 400px;
    padding: 20px 30px;
    border: 1px solid rgba(0, 0, 0, 0.01);
    box-shadow: 5px 10px 18px 0.1px #c2c0c0;
    font-family: 'Poppins', sans-serif;
}

.class1 h1{
    font-size: 20px;
    font-weight: 500;
    padding: 5px;
    text-align: center;
    font-family: 'Poppins', sans-serif;
    
}

.class1 p{
    text-align: center;
    font-weight: 400;
    color: transparent;
   text-shadow: 0 0 0.1px rgba(0,0,0,0.5);
}

.class1 i:hover,h1:hover{
    color:rgb(96, 205, 224);
}